body{
    margin: 0;
}
.wrapper{
    max-width: 95%;
    margin: auto;
}
.logo{
    height: 70px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
main{
    padding: 50px 0;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 160px);
    &.admin-main{
        padding: 0!important;
        flex-wrap: wrap;
        align-items: flex-start;
        aside{
            flex: 0 0 250px;
            border-right: 1px solid #ddd;
            min-height: calc(100vh - 160px);
            padding: 30px 15px;
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    line-height: 40px;
                }
            }
        }
        .content{
            flex: 0 0 calc(100vw - 250px);
            padding: 30px;
        }
    }
}
form{
    width: 100%;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

.listing{
    width: 100%;
}
.ant-card-body{
    padding: 15px;
    h2{
        padding-top: 5px;
        margin: 0;
    }
}
.full{
    width: 100%;
}
table{
    border: 1px solid #ddd;
}
tr:nth-child(even){
    background: #eee;
}
thead{
    background: #ddd;
}
th,td{
    line-height: 40px;
    padding: 5px;
    box-sizing: border-box;
}
.thumb{
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}